<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
<section>
    <p>El portal dónde podrá crear sus propios juegos!</p>
</section>
    
  </body>
</html>
